<html>
  <body>
    <main>
      <div class="card">
        <div class="card__title">
          <div class="icon">
            <a href="#"><i class="fa fa-arrow-left"></i></a>
          </div>
          <h3>Coffies products</h3>
        </div>
        <div class="card__body">
          <div class="half">
            <div class="featured_text">
              <h1>{{ coffe?.name }}</h1>
              <p class="sub">{{ coffe?.created_at | date }}</p>
              <p class="sub">{{ coffe?.updated_at | date }}</p>
            </div>
            <div class="image">
              <img
                src="https://images-na.ssl-images-amazon.com/images/I/613A7vcgJ4L._SL1500_.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="half">
            <div class="description">
              <p>
                {{ coffe?.description }}
              </p>
            </div>
            <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          </div>
        </div>
        <div class="card__footer">
          <div class="recommend">
            <p>Recommended by</p>
            <h3>Andrew Palmer</h3>
          </div>
          <div class="action">
            <br />
            <button
              type="button"
              (click)="this.router.navigate(['/coffes/list'])"
            >
              <a href="/coffes/edit/{{ coffe?.id }}">Edit</a>
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
