<div class="container">

  <form method="get" action="javascript: void(0);" id="login-form" class="login-form" autocomplete="off" role="main">
    <h1 class="a11y-hidden">Create new Coffe</h1>
    <div class="data-user">
      <div class="">
        <label class="label-email">
          <input type="text" class="text" placeholder="Name" tabindex="1" />
          <span class="required">Name</span>
        </label>
      </div>
        <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
        <label class="label-show-password" for="show-password">
          <span>¿It's avaible?</span>
        </label>
      <div>
        <label class="label-password">
          <input type="text" class="text" placeholder="Password" tabindex="2"/>
          <span class="required">descripcion</span>
        </label>
      </div>

      <div class="add-flavor">
        <label class="">
          <input type="text" class="text" placeholder="Flavor" tabindex="1" />
          <br>
          <button class="btn btn-secondary"> Add</button>
          <span class="required">Flavors</span>

        </label>
      </div>
      <input type="submit" value="Save" />
    </div>

  </form>
</div>
